<head>
<title>PUBG Stats</title>
    </head>
<h1 class="mt-4">PUBG Stats Service (work in progress)</h1>
<link rel="stylesheet" type="text/css" href="/views/styles/dashboard.css">
<p id="name"style="display:none"><%= name %></p>
<p id="pubgname"style="display:none"><%= pubgname %></p>
<p class="lead mb-3">Showing latest matches of: <%= pubgname %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a> <a href="/users/editProfile/<%= name %>/<%= pubgname %>" class="btn btn-secondary">Change PUBG nickname</a> <a href="/users/showFavs/<%= name %>/<%= pubgname %>" class="btn btn-secondary">Show favourite matches</a>
<body>

<div class="matches">
    <script src="/views/dashboard.js"></script>
</div>

</body>